/ %aside.left-side.sidebar-offcanvas
/ %aside.right-side
.section.content.invoice
  .content-header
    %h1
      Main Menu
  .well.text-center
    %h3
      Welcome to Music Pitcher.
    %br  
    %span
      Keep track of your pitches by adding songs, creating pitches, and viewing metrics on whether pitches were listened to.
