/ %aside.left-side.sidebar-offcanvas
/ %aside.right-side
.text-center
  %h1
    Main Menu
    %h3
      Welcome to Music Pitcher.
    %br  
    %span
      Keep track of your pitches by adding songs, creating pitches, and viewing metrics on whether pitches were listened to.
