.row
  .col-sm-2
  .col-sm-8
    .box.bg-bluegray
      %h3.text-center
        New Pitch
      .box-body
        = simple_form_for @songs do |f|
          .body
            .form-group
              = f.input :title, input_html: { class: 'form-control', placeholder: "Pitch To", autofocus: "true" }
            .footer
              = f.button :submit, "Next", class: "btn btn-block btn-primary"
        .margin.text-center
  .col-sm-2