.row
  .col-sm-2
  .col-sm-8
    .box.bg-bluegray
      %h3.text-center
        Select Song
      .box-body
        = simple_form_for @song_selection do |f|
          = f.hidden_field :pitch, :value => @pitch.id
          = f.select(:song, @songs.collect{ |song| [song.title, song.id] } )
          = f.button :submit, "Add", :class => "btn btn-primary btn-sm"
          #song-list.margin
      .margin.text-center
  .col-sm-2
