%content1.bg-black
  #login-box.form-box
    .header Sign In
    = simple_form_for @user, url: user_session_path, method: :post do |f|
      .body.bg-gray
        .form-group
          = f.input :username, label: false, input_html: { class: 'form-control', placeholder: "Username", autofocus: "true"}
        .form-group
          = f.input :password, label: false, input_html: { class: 'form-control', placeholder: "Password" }
        .footer
          = f.button :submit, "Login", class: "btn bg-olive btn-block"
    .margin.text-center
    %br