%header.header
  %a.logo{ :href => "/" } Music Pitcher
  / = link_to "Music Pitcher", root_path
  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top{:role => "navigation"}
    / Sidebar toggle button
    %a.navbar-btn.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-right
      %ul.nav.navbar-nav
        %li
        / Messages: style can be found in dropdown.less

        %li.dropdown.user.user-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span
              %i.glyphicon.glyphicon-music
              Songs
            %span
          %ul.dropdown-menu
            / %li.user-body
            %li.user-footer
              .pull-left
                =button_to "All Songs", songs_path, method: "get"
              .pull-right
                =button_to "New Song", new_song_path, method: "get"

        %li.dropdown.user.user-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.glyphicon.glyphicon-envelope
            Pitches
          %ul.dropdown-menu
            / %li.user-body
            %li.user-footer
              .pull-left
                =button_to "All Pitches", pitches_path, method: "get"
              .pull-right
                =button_to "New Pitch", "#", method: "get"


        / User Account: style can be found in dropdown.less
        %li.dropdown.user.user-menu
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.glyphicon.glyphicon-user
            %span
              = current_user.username
              %i.caret
          %ul.dropdown-menu
            / Menu Body
            %li.user-body
              .col-xs-12.text-center
                %p= "#{current_user.username}'s options"
            / Menu Footer
            %li.user-footer
              .pull-left
                =button_to "Home", root_path, method: "get"
              .pull-right
                =button_to "Logout", user_session_path, method: "delete"

